.link{
    text-decoration: none;
    color: #111;
}
.link:hover{
    background-color: #ccc;
}

.container h1{
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 400;
    color: #111;
    text-align: start;
    border-bottom: 1px solid #ccc;
}
.container ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

.container ul li{
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 300;
}

.container li:hover{
    background-color: #ccc;
}

.current{
    padding: 8px 20px 7px;
    list-style: none;
    margin: 0;
    font-size: 18px;
}
.current:hover{
    background-color: #ccc;
}

.logout{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #111;
    border-top: 1px solid #ccc;
}
.logout:hover{
    background-color: #ccc;
}