.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background-color: #1c1c1c;
}

.introduction {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: white;

}