.container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}


.leftWrapper{
    background-color: #F2F2F2;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*height: 100vh;*/
    width: var(--bashboard-sidebar-width);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    border-right: 1px solid #ccc;
}


.rightWrapper {
    /*margin-left: var(--bashboard-sidebar-width);*/
    height: 100dvh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    left: var(--bashboard-sidebar-width);
    bottom: 0;

}