.container {
    display: flex;
    flex-direction: row;
}


.leftWrapper{
    background-color: #F2F2F2;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*height: 100vh;*/
    width: var(--bashboard-sidebar-width);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    border-right: 1px solid #ccc;
}

.section{
    font-size: 20px;
    font-weight: normal;
    color: #111;
    padding: 10px 10px;

}

.rightWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;

}

.topHeader {
    height: var(--bashboard-header-height);
    /*width: 100%; !* Take up the full width of the viewport *!*/
    border-bottom: 1px solid #ccc;

    position: fixed;
    top: 0; /* 화면 위쪽에 고정 */
    left: var(--bashboard-sidebar-width); /* 화면 왼쪽에 고정 */
    right: 0; /* 화면 오른쪽에 고정 */


    background-color: #F2F2F2;
}
.content{
    background-color: #F2F2F2;
    margin-top: var(--bashboard-header-height); /* topHeader와 겹치지 않도록 padding 추가 */
    margin-left: var(--bashboard-sidebar-width); /* leftWrapper와 겹치지 않도록 padding 추가 */
    height: 100vh;
}