* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


:root {
  --background-blackgrey: #1c1c1c;
  --text-gray: #6f6f6f;

  --bashboard-header-height: 45px;
  --bashboard-sidebar-width: 200px;
}